<%-  include("../components/layout/header")%>
<meta name="description" content="Alasca Fashion, India's Leading Fashion Store for Suits, Lehengas, Gowns, Sarees and Much More On Exclusive Price" />
<title>India's Leading Fashion Store | Alasca Fashion</title>
<link rel="stylesheet" href="css/pages/index.css"></link>
</head>
<body>
  <%- include("../components/layout/navbar"); %>
  <%- include("../components/layout/drawer"); %>
 <h1 class="smt">Hoe Page</h1>
</body>
<%-  include("../components/layout/footer")%>